html {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
  color: white;
}


.link {
  color: aquamarine;
  font-size: 16px;



h2 {
  color:
}
