body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: Gray;
    font-size: 21px;
}

.copyright {
    text-align: right;
    color: gray;
}
